<!-- <div class='container'> -->
   <!--  <div class='col-md-8'> -->
<h1>Chat and share music</h1>
<br/> 
<script type="text/javascript">
    window.currentUser = {
        id : <%=current_user.id %>,
        name: '<%= current_user.name %>'
    }
  </script>
	<div class='col-md-10 col-xs-12'>
    <input type='text' rows='3' cols='20' class='form-control' id='messageBox'></input><br/>

    <br/>
    <div id='message' class='jumbotron' style='padding-top:10px;margin-top:10px;height:200px;overflow-y:scroll'></div>
	</div>

<div class='col-md-4'>
    <h3>Select an mp3 to play</h3>
    <form class='form' id='chatForm'>
    <select class='form-control'>
        <% @files.each do |f| %>
            <option value='<%= root_path %>uploads/<%= current_user.id %>/<%= f %>'><%= f %></option>
        <% end %>
        <% if current_user.lastfm_key != nil %>
        <option value='<%= @track %>'>Lastfm</option>
        <% end %>
    </select>
    <br/>
    <button class='btn' id='load'>Load</button>
    </form>
    <% if current_user.lastfm_key == nil %>
        <p id='lastfm'>Last.fm user? <%= link_to 'Authorize', 'lastfm_auth', id: 'authorize' %></p>
    <% end %>
    <script>
    var oldWidth = window.innerWidth;
    $(function(){
        window.onresize = function(e){
            if(oldWidth > 786 && window.innerWidth < 786){
                var audio = $('audio').detach();
                audio.insertAfter($("#chatForm"));
                document.getElementsByTagName("audio")[0].play();
                oldWidth = window.innerWidth;
            } else if (oldWidth < 786 && window.innerWidth > 786) {
                var audio = $('audio').detach();
                audio.insertAfter($("#searchForm"));
                document.getElementsByTagName("audio")[0].play();
                oldWidth = window.innerWidth;
            }
        };
    });
    </script>
<!-- </div> -->
<!-- </div> -->
