<div class='container'>
    <div class='col-md-6'>
<h1>Chat and share music</h1>
<br/> 
<%= javascript_tag do %>
var user_id = <%= current_user.id %>
<% end %>
    <textarea rows='3' cols='20' class='form-control'></textarea><br/>
    <button class='btn' id='link'>Send Message</button>
    <br/>
    <div id='message' class='jumbotron' style='padding-top:10px;margin-top:10px;height:200px;overflow-y:scroll'></div>

</div>
<div class='col-md-4 pull-right'>
    <h3>Select an mp3 to play</h3>
    <form class='form'>
    <select class='form-control'>
        <% @files.each do |f| %>
            <option value='<%= root_path %>uploads/<%= current_user.id %>/<%= f %>'><%= f %></option>
        <% end %>
        <option value='<%= @track %>'>Lastfm</option>
    </select>
    <br/>
    <button class='btn' id='load'>Load</button>
    </form>
    <script>
        $(function(){
            $('#load').click(function(e){
                e.preventDefault();
                $('audio').attr('src', $('select option:selected').val());
            });
        });
    </script>
</div>
</div>