<div class='container'>
  <script type="text/javascript">
    window.currentUser = {
        id : <%=current_user.id %>,
        name: '<%= current_user.name %>'
    }
  </script>
  <!-- Request chat dialog -->
  <div class="modal fade" id='chat_request_dialog'>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Wanna chat?</h4>
        </div>
        <div class="modal-body">
          <p id='modal_body'>A friend wants to chat with you.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Decline</button>
          <button type="button" class="btn btn-primary" id='yes' data-id='1'>Accept</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

<!-- Confirm file deletion -->
  <div class="modal fade" id='confirm_delete_dialog'>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Delete file?</h4>
        </div>
        <div class="modal-body">
          <p id='modal_body'>Are you sure you want to delete?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
          <button type="button" class="btn btn-primary" id='delete_btn' data-id='1'>Yes</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <!-- Rename file dialog -->
  <div class="modal fade" id='rename_file_dialog'>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Rename file</h4>
        </div>
        <div class="modal-body">
          <p id='modal_body'>Enter the new filename: <input id='newFileName' class='form-control' type='text'/></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Nevermind</button>
          <button type="button" class="btn btn-primary" id='rename_btn' data-id='1'>OK</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <!-- Rename tooltip -->
  <div class="tooltip">
2   <div class="tooltip-inner">
3     Rename this file
4   </div>
5   <div class="tooltip-arrow"></div>
6 </div>


    <div class='row'>
        <ul id='navtabs' class="nav nav-tabs nav-justified">
          <li class='active'><a href="#home" data-toggle="tab">Home</a></li>
          <li><a href="#reviews" data-toggle="tab">Reviews</a></li>
          <li><a href="#ratings" data-toggle="tab">Ratings</a></li>
          <li><a href="#profile" data-toggle="tab">Profile</a></li>
          <li><a href="#friends" data-toggle="tab">Friends</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content" style='margin-right:10px;'>
          <div class="tab-pane active" id="home">
            <% if user_signed_in? %>
                <h3 class='text-center'>Welcome, <%= current_user.name %></h3>
                <%=  %>
            <% end %>
          </div>
          <div class="tab-pane" id="reviews">
            <% if !@reviews.empty? and !@recent_reviews.empty? %>
                <h4>Recent Reviews: </h4>
                    <% @reviews.zip(@recent_reviews)[0...8].each do |r, a| %>
                        <% if a != nil and r.review != nil %>
                        <div class='col-xs-12 col-ms-6 col-sm-4 col-md-6' style='margin-bottom:10px'>
                          <div class='col-md-6'><a href='/album/details?remote_id=<%=r.reviewable.remote_id%>' class='lead'>
                            <%= a.title[0,15] %><%if a.title.length >15%>...<%end%>:<br/>
                            <a href='/album/details?remote_id=<%=r.reviewable.remote_id%>'><%= image_tag(a.image(350), :class=>'img-responsive') %></a></div>
                          <div class='col-md-6 pull-left' style='min-height: 200px'>
                            Your review:<blockquote> <p><%= r.review %></p></blockquote>
                        </div>
                      </div>
                        <% end %>
                    <% end %>
                <% end %>
          </div>
          <div class="tab-pane" id="ratings">
            <h4>Recent Ratings:</h4>
                <% i = 0 %>
                <% @ratings.zip(@recents).each do |r, a| %>
                    <% if a != nil and r.rating != nil %>
                        <div class='col-xs-12 col-ms-6 col-sm-4 col-md-3 center-block'><%= a.artist.name %>:<br/><a href='/album/details?remote_id=<%=a.id%>'><%= a.title[0,15] %><%if a.title.length >15%>...<%end%><br/><%= image_tag(a.image(350), :class=>'img-responsive') %></a>
                        <%= render '/stars_div', :i=>i %>
                        </div>
                        <%= render '/rating_js', :rating=>r, :i=>i, :album => a %>
                    <% end %>
                    <% i+=1 %>
                <% end %>
                
            </ul>
          </div>
          <div class="tab-pane" id="profile">
          <div class='col-md-6'>
            <h3>Upload an mp3</h3>
            <%= form_tag('/upload/uploadFile', id: 'uploadForm', multipart: true, remote: true) do %>
            <div class="input-group">
              <span class="input-group-btn">
                <span class="btn btn-primary btn-file">
                  Browse&hellip; <input type="file" id='file' name='file' accept='audio/*' >
                </span>
              </span>
              <input type="text" class="form-control" id='files' readonly>
            </div>
            <% end %>
            <br/>
            <div class="progress progress-striped active">
              <div class="progress-bar"  role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                <span class="sr-only"></span>
              </div>
            </div>
            <br/>
            <div class='panel panel-default'>
              <div class='panel-heading'>Uploaded files:</div>
                <div class='panel-body' style='height:200px;overflow-y:auto'>
                  <%= render 'upload/fileList' %>
                </div>
              </div>
          </div>
            <br/>
            <div class='col-md-6'>
            <div class='panel panel-default'>
              <div class='panel-heading'>Recommendations:</div>
                <div class='panel-body' style='height:200px;overflow-y:auto'>
                  <ul class='list-unstyled'>
                    <% if @recommends != nil %>
                    <% @recommends.each do |f| %>
                        <li><a href='/details?artist_id=<%= f.id %>'><%= f.name %></a></li>
                    <% end %>
                    <% end %>
                  </ul>
                </div>
              </div>
            </div>
            <div class='col-md-6'>
              <%= form_for current_user, url: '/user/'+current_user.id.to_s+'/update', class: 'form' do |u| %>
              <p>Name: <%= u.text_field :name, class: 'form-control' %></p>
              <p>Email: <%= u.text_field :email, class: 'form-control' %></p> 
              <%= u.submit 'Save', class: 'form-control' %>
              <% end %>
            </div>
          </div>
          <div class="tab-pane" id="friends">
            <h4>Friends:</h4>
            <ul class='list-unstyled' >
                <% current_user.friends.each_with_index do |f, i| %>
                    <li class='lead'><a href='/user/<%= f.id %>' id='friend<%= f.id %>'><%= f.name %></a>
                      <a href='/initiate_chat?id=<%=current_user.id%>&friend_id=<%=f.id%>' data-remote="true" id='chat_link<%= f.id %>' </a></li>
                <% end %>
            </ul>
          </div>
        </div>

    </div>
</div>
