<div class='container'>
    <div class='row col-md-10'>
        <ul class="nav nav-tabs">
          <li><a href="#home" data-toggle="tab">Home</a></li>
          <li><a href="#reviews" data-toggle="tab">Reviews</a></li>
          <li><a href="#ratings" data-toggle="tab">Ratings</a></li>
          <li><a href="#profile" data-toggle="tab">Profile</a></li>
          <li><a href="#friends" data-toggle="tab">Friends</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content" style='margin-right:10px;'>
          <div class="tab-pane active" id="home">
            <% if user_signed_in? %>
                <h3>Welcome, <%= current_user.name %></h3>
                <%=  %>
            <% end %>
          </div>
          <div class="tab-pane" id="reviews">
            <% if !@reviews.empty? and !@recent_reviews.empty? %>
                <h4>Recent activity: </h4>
                <ul class='list-unstyled'>
                    <% @reviews.zip(@recent_reviews)[0...5].each do |r, a| %>
                        <% if a != nil and r.review != nil %>
                        <li><a href='/album/details?remote_id=<%=r.reviewable.remote_id%>'><%= a.title %></a>: <%= r.review %><br/><%= image_tag(a.image(100)) %></li>
                        <% end %>
                    <% end %>
                </ul>
                <% end %>
          </div>
          <div class="tab-pane" id="ratings">
            <h4>Recent Ratings:</h4>
            <ul class='list-unstyled'>
                <% i = 0 %>
                <% @ratings.zip(@recents).each do |r, a| %>
                    <% if a != nil and r.rating != nil %>
                        <li><%= a.artist.name %> - <a href='/album/details?remote_id=<%=a.id%>'><%= a.title %></a>
                        <%= render '/stars_div', :i=>i %>
                        </li>
                        <%= render '/rating_js', :rating=>r, :i=>i %>
                    <% end %>
                    <% i+=1 %>
                <% end %>
                
            </ul>
          </div>
          <div class="tab-pane" id="profile">
            <!-- <h2>Authenticate with Last.fm: <a href='http://www.last.fm/api/auth/?api_key=<%= @api_key %>&token=<%= @token %>' onclick="window.open(this.href, 'Chat',
'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;">authorize</a></h2> -->
            <h1>Upload an mp3</h1>
            <%= form_tag '/upload/uploadFile', :multipart => true do %>
                <p><label for="upload_file">Select File</label> : 
                <%= file_field_tag 'file' %></p>
                <%= submit_tag "Upload", class: 'btn' %>
            <% end %>
            <h4>Recommendations:</h4>
                <ul class='list-unstyled'>
                    <% if @recommends != nil %>
                    <% @recommends.each do |f| %>
                        <li><a href='/details?artist_id=<%= f.id %>'><%= f.name %></a></li>
                    <% end %>
                    <% end %>
                </ul>
          </div>
          <div class="tab-pane" id="friends">
            <h4>Friends:</h4>
            <ul class='list-unstyled' >
                <% current_user.friends.each do |f| %>
                    <li><a href='/user/<%= f.id %>'><%= f.name %></a></li>
                <% end %>
            </ul>
          </div>
        </div>

    </div>
</div>
