<div class='container'>
    <div class='row col-md-7'>
        <h2><%= @user.name %></h2>
        <% if !@reviews.empty? and !@recent_reviews.empty? %>
        <h4>Recent activity: </h4>
        <ul class='list-unstyled'>
            <% @reviews.zip(@recent_reviews).each do |r, a| %>
                <% if a != nil and r.review != nil %>
                <li><a href='album/details?remote_id=<%=r.reviewable.remote_id%>'><%= a.title %></a>: <%= r.review %><br/><%= image_tag(a.image(100)) %></li>
                <% end %>
            <% end %>
        </ul>
        <% end %>
        <h4>Recent Ratings:</h4>
        <ul class='list-unstyled'>
            <% i = 0 %>
            <% @ratings.zip(@recents).each do |r, a| %>
                <% if a != nil and r.rating != nil %>
                <li><%= a.artist.name %> - <a href='album/details?remote_id=<%=a.id%>'><%= a.title %></a>
                <div class='inline'>
                    <input type='radio' name='star<%=i%>' class='star<%=i%> required' value='1' title='Hate it'/>
                    <input type='radio' name='star<%=i%>' class='star<%=i%>' value='2' title='Not very good'/>
                    <input type='radio' name='star<%=i%>' class='star<%=i%>' value='3' title='Good'/>
                    <input type='radio' name='star<%=i%>' class='star<%=i%>' value='4' title='Great'/>
                    <input type='radio' name='star<%=i%>' class='star<%=i%>' value='5' title='Awesome!'/>
                    <span id="hover<%=i%>" style="margin:0 0 0 20px;"></span>
                </div>
                </li>

                <script>
                    $(function(){
                            var rating = <%= r.rating %>;
                            $('.star<%=i%>').each(function(index){
                                if ( rating === index+1){
                                    $(this).attr('checked', 'checked');
                                }
                            }).rating();    
                        }
                    );
                </script>
                <% end %>
                <% i+=1 %>
            <% end %>
            
        </ul>

    </div>
    <div class='col-md-3'>
        <h4>Recommendations:</h4>
        <ul class='list-unstyled'>
            <% if @recommends != nil %>
            <% @recommends.each do |f| %>
                <li><a href='/details?artist_id=<%= f.id %>'><%= f.name %></a></li>
            <% end %>
            <% end %>
        </ul>
    </div>
<div class='aside col-md-2'>
<h4>Friends:</h4>
<ul class='list-unstyled'>
    <% current_user.friends.each do |f| %>
        <li><%= f.name %></li>
    <% end %>
</ul>
</div>
</div>
