<% if r != nil %>
    <% if r.user.id != current_user.id %>
    <h3><%= r.title %></h3>
    <p><%= r.review %></p>
    <h3><small><a 
        <% if current_user.friends.include?(r.user) %>
            href='<%= other_user_path(r.user) %>'
        <% else %> 
            data-target='#addFriend<%= r.user.id %>'
        <% end %>
        data-toggle='modal'>
        <%= r.user.name %></a> - <%= r.created_at %></small></h3>
    <div class="modal fade" id='addFriend<%= r.user.id %>'>
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Add User as Friend</h4>
          </div>
          <div class="modal-body">
            <p>Do you want to add this user as a friend?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
            <button type="button" class="btn btn-primary" id='yes<%= r.user.id %>' data-id='<%= r.user.id %>'>Yes</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    
    <script type="text/javascript">
        
        $('#addFriend<%= r.user.id %>').on('show.bs.modal', function(){
            <% if current_user.friends.include?(r.user) %>
                $('#addFriend<%= r.user.id %>').modal('hide');
            <% end %>
        });
        $('#yes<%= r.user.id %>').click(function(){
            var id = $(this).data('id');
            
            $.post('/user/addfriend?user_id='+id, function(){
                $('#addFriend<%= r.user.id %>').modal('hide');
                window.location = '/home';
            });
        });
    </script>
    <% else %>
    <div id='user_review'>
        <h3 id='users_review_title'><%= r.title %></h3>
        <p id='users_review'><%= r.review %></p>
        <h3><small><%= r.user.name %> - <%= r.created_at.to_formatted_s(:short) %>
        <input type='hidden' name='album' id='review_id' value='<%= r.id %>'>
        <br/>
        <a href='#' class='btn btn-default edit' role='button' id='<%= r.id %>'>Edit</a>
        <a href='#' class='btn btn-default delete_review' role='button'>Delete</a>
        Share: </small><%= link_to image_tag('facebook_32.png'), fb_post_path(:title => 'Check out my review on goodlistens.com', :url => 'http://www.goodlistens.com'+request.fullpath, :desc => 'goodlistens: Review and share music') %>
        <a href="https://plus.google.com/share?url=valis.strangled.net:8080" onclick="javascript:window.open(this.href+window.location.pathname+window.location.search,
          '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
          <img src="https://www.gstatic.com/images/icons/gplus-32.png" alt="Share on Google+"/></a></h3>
      </div>

    <% end %>
<% end %>