<% if r.review != nil %>
    <% if r.user.id != current_user.id %>
    <a 
        <% if current_user.friends.include?(r.user) %>
            href='<%= other_user_path(r.user) %>'
        <% else %> 
            data-target='#addFriend<%= r.user.id %>'
        <% end %>
        data-toggle='modal'>
        <h5><%= r.user.name %></a> - <%= r.created_at %>:</h5><p><%= r.review %></p>
    <div class="modal fade" id='addFriend<%= r.user.id %>'>
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Add User as Friend</h4>
          </div>
          <div class="modal-body">
            <p>Do you want to add this user as a friend?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
            <button type="button" class="btn btn-primary" id='yes<%= r.user.id %>' data-id='<%= r.user.id %>'>Yes</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <script type="text/javascript">
        $('#addFriend<%= r.user.id %>').on('show.bs.modal', function(){
            <% if current_user.friends.include?(r.user) %>
                $('#addFriend<%= r.user.id %>').modal('hide');
            <% end %>
        });
        $('#yes<%= r.user.id %>').click(function(){
            var id = $(this).data('id');
            
            $.get('/user/addfriend?user_id='+id, function(){
                $('#addFriend<%= r.user.id %>').modal('hide');
                window.location = '/home';
            });
        });
    </script>
    <% else %>
    <h5><%= r.user.name %></a> - <%= r.created_at.to_formatted_s(:short) %>:</h5><p><%= r.review %></p>
    <% end %>
<% end %>