<div class='container'>
    
    <h1><%=  @album.title %></h1>
    <div class='col-md-7'>
        <%= image_tag(@album.image(500), :class=> 'img-responsive') %>
    </div>
    <div class='col-md-5'>
        <h2><%= @album.artist.name %></h2>
        <% if user_signed_in? %> 
        
        <% end %>
        <ul class='list-unstyled'>
            <% @album.get_tracks.each_with_index do |t, i| %>
                <li><%= (i+1).to_s + '. ' + t.title %></li>
            <% end %>
        </ul>
    </div>
    <div class='container' style='clear:both'>
        <% if user_signed_in? %>
        <h4 style='float:left;margin-right:10px' name='title'>Review this album:</h4>
        <%= render '/stars_div', :i=>1 %>
                <% @rating = Rating.where(:user_id=>current_user, :reviewable_id=>Album.find_by_remote_id(@album.id)) %>
            <%= render '/rating_js', :rating => @rating[0], :i => 1, :album => @album %>
           
            <% if @no_form == nil %>
                <%=  form_for @review, url: '/album/review', method: 'post', html: {class: 'form', id: 'review_form'} do |f| %>
                    <div class='form-group'>
                        <textarea name='review' class='form-control' cols='80' rows='4'></textarea>
                    </div>
                    <input type='hidden' name='album' id='album_id' value='<%= @album.id %>'>
                    <%= f.submit 'Submit', class: 'btn' %>
                <% end %>
            <% end %>
        <% end %>
        <div id='reviews'>
            <h3 id='review_header'>Reviews:</h3>
            <% if @reviews != nil %>
                <% @reviews.each do |r| %>
                    <%= render 'reviews', :r => r %>
                <% end %>
            <% end %>
        </div>
        
    </div>
</div>
