<ul class='list-inline'>
    <li><%= link_to 'Rock', newuser_path(:genre => :rock) %></li>
    <li><%= link_to 'Pop', newuser_path(:genre => :pop) %></li>
    <li><%= link_to 'Country', newuser_path(:genre => :country) %></li>
    <li><%= link_to 'Classical', newuser_path(:genre => :classical) %></li>
    <li><%= link_to 'Punk', newuser_path(:genre => :punk) %></li>
    <li><%= link_to 'Hiphop', newuser_path(:genre => 'hip-hop-rap') %></li>
    <li><%= link_to 'R&B', newuser_path(:genre => 'r&b') %></li>
    <li><%= link_to 'Jazz', newuser_path(:genre => :jazz) %></li>
    <li><%= link_to 'Dance', newuser_path(:genre => :dance) %></li>
</ul>