<div style='margin-top:10px'>
    <input type='radio' name='star<%=i%>' class='star<%=i%> {split:2} required' value='0.5' title='Hate it'/>
    <input type='radio' name='star<%=i%>' class='star<%=i%> {split:2}' value='1' title='Hate it'/>
    <input type='radio' name='star<%=i%>' class='star<%=i%> {split:2}' value='1.5' title='Not very good'/>
    <input type='radio' name='star<%=i%>' class='star<%=i%> {split:2}' value='2' title='Not very good'/>
    <input type='radio' name='star<%=i%>' class='star<%=i%> {split:2}' value='2.5' title='Good'/>
    <input type='radio' name='star<%=i%>' class='star<%=i%> {split:2}' value='3' title='Good'/>
    <input type='radio' name='star<%=i%>' class='star<%=i%> {split:2}' value='3.5' title='Great'/>
    <input type='radio' name='star<%=i%>' class='star<%=i%> {split:2}' value='4' title='Great'/>
    <input type='radio' name='star<%=i%>' class='star<%=i%> {split:2}' value='4.5' title='Awesome!'/>
    <input type='radio' name='star<%=i%>' class='star<%=i%> {split:2}' value='5' title='Awesome!'/>
    <span id="hover<%=i%>" style="margin:0 0 0 20px;"></span>
</div>