<div>
    <input type='radio' name='star<%=i%>' class='star<%=i%> required' value='1' title='Hate it'/>
    <input type='radio' name='star<%=i%>' class='star<%=i%>' value='2' title='Not very good'/>
    <input type='radio' name='star<%=i%>' class='star<%=i%>' value='3' title='Good'/>
    <input type='radio' name='star<%=i%>' class='star<%=i%>' value='4' title='Great'/>
    <input type='radio' name='star<%=i%>' class='star<%=i%>' value='5' title='Awesome!'/>
    <span id="hover<%=i%>" style="margin:0 0 0 20px;"></span>
</div>