<!DOCTYPE html>
<html>
<head>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <title>Goodlistens</title>
  <% if user_signed_in? %>
    <%= javascript_tag do %>
      window.currentUserId = <%= current_user.id || current_user.token %>
    <% end %>
  <% end %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <% if params[:controller] != 'application' and params[:action] != 'chat' %>
    <%= javascript_include_tag params[:controller] %>
    <%= javascript_include_tag '/assets/websockets/websockets' %>
  <% end %>
  <% if params[:action] == 'chat' %>
    <%= javascript_include_tag 'websocket_rails/main' %>
    <%= javascript_include_tag "share" %>
  <% end %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class='container'>
    <%= render 'nav' %>
    <%= yield %>

    <% if notice != nil %>
        <div class='col-xs-12 col-md-4 col-md-offset-4 alert alert-success alert-dismissable'><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><p class="notice"><%= notice %></p></div>
    <% end %>
    <% if alert != nil %>
        <div class='col-xs-12 col-md-4 col-md-offset-4 alert alert-danger alert-dismissable'><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><p><%= alert %></p></div>
    <% end %>

</div>
</body>
</html>
